
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Shelfari 1.0</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>Shelfari 1.0</h1>
		<hr />
		<div class="page">

		</div>
	</div>
	
	
	<script type="text/template" id="book-list-template">
		
		
		<table>
			<tr>
				
					<td><input type="text" id="searchBookTxt"/></td>
					<td><a href="#/search" class="btn btn-primary">Search Book</a></td>
					<td></td>
					<th><a href="#/new" class="btn btn-primary">Add Book</a></th>
				
			</tr>
			
		</table>
		
		
		<table class="table striped">
			<thead>
				<tr>
					<th>Book Name</th>
					<th>Author</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(books, function(book) { %>
					<tr>
						<td><%= book.get('name')  %> </td>
						<td><%= book.get('author')  %> </td>
						<td><%= book.get('read_status') =='t' ? 'Read' : 'Not yet read'  %> </td>
						<td><a href="#/edit/<%= book.get('id') %>" class="btn">Edit</a></td>
						
					</tr>	
				
				<% }); %>
			</tbody>
		</table>
	</script>
	
	<script type="text/template" id="edit-book-template">
		<form class="edit-book-form">
			<legend><%= book ? 'Update' : 'Add'%> Book</legend>


			<label>Book Name</label>
			<input type="text" name="name" value="<%= book ? book.get('name') : ''%>"/>

			<label>Author</label>
			<input type="text" name="author" value="<%= book ? book.get('author') : ''%>"/>

			<label>Status : </label> 
			<input type="hidden" id="read_status" name="read_status" value="<%= book ? book.get('read_status') : ''%>" />
			<input type="text" id="read_status_msg" name="read_status_msg" value="<%= (book && book.get('read_status') =='t') ? 'Read' : 'Not yet read'  %>" readonly/>
			<br/>
			
			<select name="read_status_lst" id="read_status_lst" onchange="updateReadStatus()">
			  <option value="" selected>Change Status</option>
			  <option value="t">Read</option>
			  <option value="f">Not yet read</option>
			  
			</select>
			
			<hr />

			<button type="submit" class="btn"><%= book ? 'Update' : 'Add'%></button>
			
			<% if (book) {%>
				<input type="hidden" name="id" value="<%= book.get('id')%>" />
				<button type="button" class="btn btn-danger delete">Delete</button>
			<% } %>
		</form>
	</script>	
	
	
	
	
	<script type="text/template" id="book-search-template">
		
		<h3>Search Result</h3>
		<hr/>
		
		
		
		<table class="table striped">
			<thead>
				<tr>
					<th>Book Name</th>
					<th>Author</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(books, function(book) { %>
					<tr>
						<td><%= book.get('name')  %> </td>
						<td><%= book.get('author')  %> </td>
						<td><%= book.get('read_status') =='t' ? 'Read' : 'Not yet read'  %> </td>
						<td><a href="#/edit/<%= book.get('id') %>" class="btn">Edit</a></td>
						
					</tr>	
				
				<% }); %>
			</tbody>
		</table>
	</script>
	
	
	
	
	
	
	
	
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

<script type="text/javascript">
	
	$.ajaxPrefilter(function ( options, originalOptions, jqXHR) {
			options.url = 'server/index.php' + options.url;
			options.crossDomain = true;
		});
	
	$.fn.serializeObject = function () {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function () {
				if (o[this.name] !== undefined) {
					if (o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});

			return o;
		};
	
	var Books = Backbone.Collection.extend({
			url: '/books'
		});
	
	
	var Book = Backbone.Model.extend({
			urlRoot: '/books'
	});
	
	var Search = Backbone.Collection.extend({
		url: function() {
			return '/search/' + $('#searchBookTxt').val();
		}	
		
	});
	
	
	var BookList = Backbone.View.extend({
		el: '.page',
		
		render: function () {
			console.log("Enerting Book List...!!!");
			var books = new Books();
			var that = this;
			books.fetch({
					success: function (books) {
							console.log("Book list successfully fetched.");
							var template = _.template($('#book-list-template').html(), {books: books.models});
							that.$el.html(template);
						
					}
				});
							
		}
	});
	
	var EditBook = Backbone.View.extend({
			el: '.page',
			render: function (options) {
				var that = this;
				if(options.id) {
						that.book = new Book({id: options.id});
						that.book.fetch({
						success: function (book) {
							var template = _.template($('#edit-book-template').html(), {book: book});
							that.$el.html(template);
						}
					});
				
				}
				else if(options.name) {
					that.search = new Search();
					that.search.fetch({
					success: function (books) {
						var template = _.template($('#book-search-template').html(), {books: books.models});
						that.$el.html(template);
					}
					
					});
				}
				else {
					var template = _.template($('#edit-book-template').html(), {book: null});
					this.$el.html(template);
				}
			},
			events: {
				'submit .edit-book-form' : 'saveBook',
				'click .delete': 'deleteBook'
			},	
			saveBook: function (ev) {
				var bookDetails = $(ev.currentTarget).serializeObject();
				var book = new Book();
				book.save(bookDetails, {
					success: function (book) {
						router.navigate('', {trigger: true});
					}
				});
				return false;
			},
			deleteBook: function (ev) {
				this.book.destroy({
					success : function () {
						router.navigate('', {trigger: true});	
					}
				});
				return false;
			}
			
			
		});
	
	
	var SearchBook = Backbone.View.extend({
		el: '.page',
		
		render: function (options) {
			console.log("Enerting Book List...!!!");
			var that = this;
			var search = new Search();
			search.fetch({
					success: function (books) {
							var template = _.template($('#book-search-template').html(), {books: books.models});
							that.$el.html(template);
							
						
						}
				});
			
							
		}
	});
	
	
	function updateReadStatus() {
		
		if($('#read_status_lst').val() == 't') {

			$('#read_status_msg').val('Read');
			$('#read_status').val('t');
		}
		else {
			$('#read_status_msg').val('Not yet read');
			$('#read_status').val('f');
		
		}
	}
	
	
	
	var AppRouter = Backbone.Router.extend({
		routes: {
			'': 'home',
			'new':'editBook',
			'edit/:id': 'editBook',
			'search':'searchBook'
			}
		});
	
	var bookList = new BookList();
	var searchBook = new SearchBook();
	var editBook = new EditBook();
	
	var router = new AppRouter();
	
	router.on('route:home', function() {
		console.log("Home Page");
		bookList.render();
		});
	
	router.on('route:editBook', function(id) {
		editBook.render({id: id});
		});
	
	router.on('route:searchBook', function() {
		var bookName = $('#searchBookTxt').val();
		editBook.render({name: bookName});
		});
	
			
	Backbone.history.start();

</script>




</body>

</html>